@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'MontserratBold';
    src: url('../public/assets/Montserrat/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../public/assets/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratSemibold';
    src: url('../public/assets/Montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratExtrabold';
    src: url('../public/assets/Montserrat/Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    box-sizing: border-box;
}